.mission {
  top: 5%;
  left: 10%;

  width: 80%;
  padding: 30px 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  animation: slideInDown;
  animation-duration: 1s;
}

.mission p {
  line-height: 3rem;
  margin-bottom: 0;
}

.game-panel {
  position: absolute;
  bottom: -3%;
  left: 32%;

  height: 80%;
  width: 36%;
  border-radius: 2rem;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);
  text-align: center;

  animation: fadeIn;
  animation-duration: 1s;
}

.game-panel h3 {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--dark-grey);
  margin: 3rem 0;
}

.game-panel p {
  font-size: 1.5rem;
  color: var(--mid-grey);
  margin: 2rem auto;
}

/* 完成按鈕 */
.finish-btn {
  border: none;
  border-radius: 1rem;
  background: var(--primary-color);
  padding: 7px 150px;
  margin-top: 1rem;

  font-size: 2rem;
  font-weight: 900;
  color: #fff;
}

.finish-btn:hover {
  cursor: pointer;
  background: var(--secondary-color);
  transition: 0.3s;
}
