/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

/* for this project */
:root {
  --primary-color: #ffac89;
  --secondary-color: #ff7d45;
  --tertiary-color: #fff8ba;
  --light-grey: #f2ece8;
  --mid-grey: #cfc8c4;
  --dark-grey: #8e7e74;
  font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow: hidden;
}

/* 共用背景 */
.background {
  width: 100vw;
  height: 100vh;

  background: url("../assets/image/bg-img_工作區域 1_工作區域 1 2.png");
  background-size: cover;
  background-position: center;
}

/* 對話框 */
.talking-box {
  position: absolute;
  top: 12%;
  left: 16%;
  width: 750px;
  height: auto;
  border-radius: 1rem;
  padding: 50px 80px;
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);

  animation: slideInLeft;
  animation-duration: 2s;
}

.talking-box p {
  text-align: justify;
  font-size: 2rem;
  color: var(--dark-grey);
  line-height: 4rem;
  margin-bottom: 2rem;
}

.emphasize {
  color: var(--primary-color);
  font-weight: 700;
}

.talking-box button {
  float: right;
  border: none;
  border-radius: 5px;
  background: var(--primary-color);
  padding: 3px 10px;

  font-size: 2.5rem;
  color: #fff;
}

.talking-box button:hover {
  cursor: pointer;
  background: var(--secondary-color);
  transition: 0.3s;
}

/* 對話人物 */
.person-in-charge {
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 10%;

  animation: slideInUp;
  animation-duration: 2s;
}

.person-in-charge div {
  position: absolute;
  top: -10px;
  right: -20px;

  width: 50%;
  text-align: center;
  border-radius: 2rem;
  padding: 7px 0;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);

  font-size: 1.5rem;
  color: var(--dark-grey);
}

.person-in-charge img {
  width: 100%;
}

/* hint modal */
.hint-modal {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.6);
}

.hint-modal .modal {
  width: 35%;
  height: auto;
  border-radius: 10px;
  padding: 40px 60px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);

  animation: fadeIn;
  animation-duration: 0.5s;
}

.hint-modal .modal p {
  font-size: 2rem;
  color: var(--dark-grey);
  line-height: 4rem;
  margin-bottom: 2rem;
}

.hint-modal .modal button,
.talking-box .hint-btn {
  float: right;
  border: none;
  border-radius: 5px;
  background: transparent;
  padding: 3px 10px;
  border: 3px solid var(--mid-grey);

  font-size: 2.5rem;
  color: var(--mid-grey);
}

.hint-modal .modal button:hover,
.talking-box .hint-btn:hover {
  background: #fffce3;
  cursor: pointer;
}

/* 提示人物的動畫不一樣 */
.hint-guy {
  animation: fadeIn;
  animation-duration: 0.5s;
}

/* 前一頁按鈕*/
.back-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border: none;
  background: transparent;

  color: #fff;
  font-size: 5rem;
  font-weight: 900;
  -webkit-text-stroke: 1px var(--mid-grey);
}

.back-btn:hover {
  font-size: 6rem;
  color: var(--tertiary-color);
  cursor: pointer;
}

/* 當兩個對話框出現 */
.talking-box-top {
  top: -20%;

  animation: moveTop;
  animation-duration: 2s;
}

.talking-box-bottom {
  top: 25%;
}

@keyframes moveTop {
  0% {
    top: 12%;
  }

  100% {
    top: -20%;
  }
}
