@import "./mission.css";

/* description-3 */
.description-guy-3 {
  animation: none;
}

.description-guy-3-1 {
  left: 30%;
}

.description-guy-3-2 {
  left: 18%;
}

.description-guy-3-2 div {
  left: -20px;
  top: 3%;
}

/* 人物退場 */
.description-2 .description-guy-1,
.description-4 .description-guy-3,
.description-5 .description-guy-4 {
  opacity: 0;
  animation: fadeOutRight;
  animation-duration: 0.5s;
}

/* description-5 */
.description-5-css p img {
  display: inline;
  height: 3rem;
  vertical-align: text-bottom;
  margin: 0 7px 0 2px;
}

/* mission */
.Sprint-mission {
  width: 100vw;
  height: 100vh;
}

.game-panel {
  left: 13%;
}

.drop-here-background,
.drag-here {
  position: relative;
  width: 90%;
  height: 50%;
  margin: 0 auto;
}

.drop-here {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.productBacklog {
  margin-bottom: 1rem;
  border: 1px solid var(--dark-grey);
  background: #d7ffae;
  width: 100%;
  height: 21%;
  padding: 0 2rem;
  color: var(--dark-grey);
  font-size: 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productBacklog p {
  color: var(--dark-grey);
}

.productBacklog .point-avatar {
  background: #fff;
  border: 1px solid var(--dark-grey);
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  line-height: 3rem;
  font-weight: 700;
}

/* game-panel-2 */
.game-panel-2 {
  left: 51%;
  background: var(--tertiary-color);
}

.game-panel-2 > p {
  color: var(--dark-grey);
}

.empty-space {
  margin-bottom: 1rem;
  border: 2px dashed var(--mid-grey);
  height: 21%;
}

.finish-btn {
  padding: 7px 100px; /*!!!*/
  margin-top: 5rem; /*!!!*/
}

.remove {
  display: none;
}
