/* opening-page-1 */
.opening-page-1 {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.opening-page-1 p {
  /* border: 3px solid blue; */
  text-align: center;
  letter-spacing: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 1px var(--dark-grey), 0px -1px var(--dark-grey),
    1px 0px var(--dark-grey), -1px 0px var(--dark-grey);

  opacity: 0;

  animation: flashFlash;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes flashFlash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.game-title,
.pink-character,
.yellow-character,
.brown-character,
.green-character {
  position: absolute;
  animation: slideInUp;
  animation-duration: 1s;
}

.game-title {
  top: 27%;
  left: 25%;

  animation: backInDown;
  animation-duration: 2s;
}

.game-title img {
  width: 70%;
}

.pink-character {
  top: -10%;
  left: -5%;
  rotate: 110deg;
  width: 16%;
}

.pink-character img {
  width: 100%;
}

.yellow-character {
  bottom: -27%;
  left: 5%;
  rotate: 15deg;
  width: 20%;
}

.yellow-character img {
  width: 100%;
}

.brown-character {
  bottom: -38%;
  right: 15%;
  rotate: 345deg;
  width: 23%;
}

.brown-character img {
  width: 100%;
}

.green-character {
  top: -15%;
  right: -3%;
  rotate: 240deg;
  width: 16%;
}

.green-character img {
  width: 100%;
}

/* opening-page-2 */
.opening-page-2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.talking,
.talking2 {
  width: auto;
  padding: 1rem 6rem 3rem;
}

.talking p {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: var(--mid-grey);
  margin-bottom: 0;
}

.talking2 {
  padding: 4rem 6rem;

  animation: fadeIn;
  animation-duration: 2s;
}

.remove {
  display: none;
}
