@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");

:root {
  --primary-color: #ffac89;
  --secondary-color: #ff7d45;
  --tertiary-color: #fff8ba;
  --light-grey: #f2ece8;
  --mid-grey: #cfc8c4;
  --dark-grey: #8e7e74;
  font-family: "Noto Sans TC", Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow: hidden;
}

.background {
  width: 100vw;
  height: 100vh;

  background: url("./image/bg-img_工作區域 1_工作區域 1 2.png");
  background-size: cover;
  background-position: center;
}

/* opening-page-1 */
.opening-page-1 {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.opening-page-1 p {
  /* border: 3px solid blue; */
  text-align: center;
  letter-spacing: 2rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  text-shadow: 0px 1px var(--dark-grey), 0px -1px var(--dark-grey),
    1px 0px var(--dark-grey), -1px 0px var(--dark-grey);

  opacity: 0;

  animation: flashFlash;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  animation-delay: 2s;
}

@keyframes flashFlash {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

.game-title,
.pink-character,
.yellow-character,
.brown-character,
.green-character {
  position: absolute;
  animation: slideInUp;
  animation-duration: 1s;
}

.game-title {
  top: 27%;
  left: 25%;

  animation: backInDown;
  animation-duration: 2s;
}

.game-title img {
  width: 70%;
}

.pink-character {
  top: -10%;
  left: -5%;
  rotate: 110deg;
  width: 16%;
}

.pink-character img {
  width: 100%;
}

.yellow-character {
  bottom: -27%;
  left: 5%;
  rotate: 15deg;
  width: 20%;
}

.yellow-character img {
  width: 100%;
}

.brown-character {
  bottom: -38%;
  right: 15%;
  rotate: 345deg;
  width: 23%;
}

.brown-character img {
  width: 100%;
}

.green-character {
  top: -15%;
  right: -3%;
  rotate: 240deg;
  width: 16%;
}

.green-character img {
  width: 100%;
}

/* opening-page-2 */
.opening-page-2 {
  position: relative;
  width: 100%;
  height: 100%;
}

.talking,
.talking2 {
  position: absolute;
  top: 12%;
  left: 16%;
  border-radius: 1rem;
  background: #fff;
  padding: 1rem 6rem 3rem;
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);

  animation: slideInLeft;
  animation-duration: 2s;
}

.talking p {
  font-size: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  color: var(--mid-grey);
}

.character-with-name {
  position: absolute;
  bottom: 0;
  right: 20%;
  width: 10%;

  animation: slideInUp;
  animation-duration: 2s;
}

.character-with-name .name {
  position: absolute;
  top: -10px;
  right: -20px;

  border-radius: 1rem;
  padding: 5px 20px;
  background: #fff;
  box-shadow: 0px 4px 30px rgba(116, 48, 48, 0.4);

  font-size: 1.5rem;
  color: var(--dark-grey);
}

.character-with-name img {
  width: 100%;
}

.talking2 {
  padding: 4rem 6rem;

  animation: fadeIn;
  animation-duration: 2s;
}

.talking2 pre {
  font-size: 2rem;
  color: var(--dark-grey);
  line-height: 4rem;
  margin-bottom: 2rem;
}

.start-btn {
  float: right;
  border: none;
  border-radius: 5px;
  background: var(--primary-color);
  padding: 3px 10px;

  font-size: 2.5rem;
  color: #fff;
}

.start-btn:hover {
  cursor: pointer;
  background: var(--secondary-color);
  transition: 0.5s;
}

.remove {
  display: none;
}
